/*

!/.obsidian
/*.obsidian/*
!/*.obsidian/plugins
/*.obsidian/plugins/*
!/.obsidian/plugins/dataview
/.obsidian/plugins/dataview/*
!/.obsidian/plugins/dataview/data.json
!/.obsidian/plugins/folder-notes
/.obsidian/plugins/folder-notes/*
!/.obsidian/plugins/folder-notes/data.json
!/.obsidian/plugins/obsidian-excalidraw-plugin
/.obsidian/plugins/obsidian-excalidraw-plugin/*
!/.obsidian/plugins/obsidian-excalidraw-plugin/data.json
!/.obsidian/plugins/obsidian-icon-folder
/.obsidian/plugins/obsidian-icon-folder/*
!/.obsidian/plugins/obsidian-icon-folder/data.json
!/.obsidian/plugins/obsidian-linter
/.obsidian/plugins/obsidian-linter/*
!/.obsidian/plugins/obsidian-linter/data.json
!/.obsidian/plugins/obsidian-map-view
/.obsidian/plugins/obsidian-map-view/*
!/.obsidian/plugins/obsidian-map-view/data.json
!/.obsidian/plugins/obsidian-minimal-settings
/.obsidian/plugins/obsidian-minimal-settings/*
!/.obsidian/plugins/obsidian-minimal-settings/data.json
!/.obsidian/plugins/obsidian-style-settings
/.obsidian/plugins/obsidian-style-settings/*
!/.obsidian/plugins/obsidian-style-settings/data.json
!/.obsidian/plugins/table-editor-obsidian
/.obsidian/plugins/table-editor-obsidian/*
!/.obsidian/plugins/table-editor-obsidian/data.json
!/.obsidian/plugins/templater-obsidian
/.obsidian/plugins/templater-obsidian/*
!/.obsidian/plugins/templater-obsidian/data.json
!/.obsidian/plugins/various-complements
/.obsidian/plugins/various-complements/*
!/.obsidian/plugins/various-complements/data.json
!/.obsidian/plugins/waypoint
/.obsidian/plugins/waypoint/*
!/.obsidian/plugins/waypoint/data.json
!/.obsidian/app.json
!/.obsidian/appearance.json
!/.obsidian/community-plugins.json
!/.obsidian/core-plugins.json
!/.obsidian/graph.json

!/*Projects
/*Projects/*
!/*Projects/Project Table.md

!/*Meta
/*Meta/*
!/*Meta/templates
/*Meta/templates/templates.md

!.gitignore
!LICENSE
!README.md
